@model Web_OnlineShop.ModelOnlineShop.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
   
}

<div class="container">
    @*<h2>Create</h2>*@
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h2 class="m-0 font-weight-bold text-primary">Tạo người dùng mới</h2>
            <hr />
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create","Product",FormMethod.Post, new {id="ProductCreate"}))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>Sản phẩm</h4>*@
                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>

                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Code)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.MetaTitle, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MetaTitle)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Image, new { @class = "form-control", id="image" })
                            @Html.ValidationMessageFor(model => model.Image)
                        </div>
                        <div class="col-md-4">
                            <input type="button" value="Chọn ảnh..." onclick="BrowseServer();" class="btn btn-info" />
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.MoreImages, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.MoreImages, new { @class = "form-control" })
                            
                            @Html.ValidationMessageFor(model => model.MoreImages)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @*@Html.HiddenFor(model => model.Price, new { id="price", @class = "form-control price" })*@
                            @*<input type="text" id="money" class="form-control money text-right" />*@
                            @Html.TextBoxFor(model => model.Price, new {@class = "form-control money" })
                            @Html.ValidationMessageFor(model => model.Price)
                        </div>
                        @Html.LabelFor(model => model.PromotionPrice, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.PromotionPrice, new { @class = "form-control money" })
                            @Html.ValidationMessageFor(model => model.PromotionPrice)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.PromotionPrice, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.PromotionPrice, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PromotionPrice)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.IncludeVAT, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.IncludeVAT, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IncludeVAT)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Quantity)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.CategoryID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CategoryID,null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryID)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Detail, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Detail, new { @class = "form-control"  , id="editor"})
                            @Html.ValidationMessageFor(model => model.Detail)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Warranty, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Warranty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Warranty)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.MetaKeywords, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MetaKeywords)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.MetaDescriptions, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.MetaDescriptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MetaDescriptions)
                        </div>
                    </div>
                   
                    <div class="form-group row">
                       
                        
                        @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Status, new { @class = "form-control" })
                           
                            @Html.ValidationMessageFor(model => model.Status)
                        </div>
                    </div>

                    

                    <div class="form-group row">
                        @Html.LabelFor(model => model.TopHot, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.TopHot, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TopHot)
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
