@model Web_OnlineShop.ModelOnlineShop.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    @*<h2>Edit</h2>*@

   @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { id = "form" }))
        {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Sửa</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)

            <div class="form-group row">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Code)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.MetaTitle, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MetaTitle)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Image, new { @class = "form-control", id = "image" })
                    @Html.ValidationMessageFor(model => model.Image)
                </div>
                <div class="col-md-4">
                    <input type="button" value="Chọn ảnh..." onclick="BrowseServer();" class="btn btn-info" />
                </div>
            </div>

            @*<div class="form-group row">
                @Html.LabelFor(model => model.MoreImages, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MoreImages, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MoreImages)
                </div>
            </div>*@

            <div class="form-group row">
                @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Price, new { @class = "money form-control" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
                @Html.LabelFor(model => model.PromotionPrice, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.PromotionPrice, new { @class = "money form-control" })
                    @Html.ValidationMessageFor(model => model.PromotionPrice)
                </div>
            </div>

         

            <div class="form-group row">
                @Html.LabelFor(model => model.IncludeVAT, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IncludeVAT)
                    @Html.ValidationMessageFor(model => model.IncludeVAT)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.CategoryID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CategoryID, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryID)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Detail, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", id = "editor" })
                    @Html.ValidationMessageFor(model => model.Detail)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Warranty, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Warranty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Warranty)
                </div>
            </div>



            <div class="form-group row">
                @Html.LabelFor(model => model.MetaKeywords, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MetaKeywords)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.MetaDescriptions, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MetaDescriptions, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MetaDescriptions)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.TopHot, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TopHot, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TopHot)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <a class="btn btn-primary" href="@Url.Action("Index","Product")">Quay về</a>    <input type="submit" value="Lưu" class="btn btn-primary" style="float:right" />
                </div>
            </div>
        </div>
    }
    </div>
    
