@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Web_OnlineShop.ModelOnlineShop.Product> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var i = 1;
}

<div class="container">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="text-right" style="margin-bottom:10px"><a class="btn btn-primary" href="@Url.Action("Create","Product")">Thêm</a></div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th>STT</th>
                            <th>Tên</th>
                            <th>Mã</th>
                           
                            <th>Giá (&#8363;)</th>
                            <th>Giá KM (&#8363;)</th>
                            <th>Ngày tạo</th>
                            <th>Ảnh</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>@item.Code</td>
                                
                                <td>@item.Price.GetValueOrDefault(0).ToString("N0")</td>
                                <td>@item.PromotionPrice.GetValueOrDefault(0).ToString("N0")</td>
                                <td>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</td>
                                <td><a href="#" data-id="@item.ID" class="btnImages">Quản lý ảnh..</a></td>
                                <td><a  href="@Url.Action("Edit", "Product", new { id= item.ID})">Sửa</a>-<a  href="@Url.Action("Delete", "Product", new { id = item.ID })">Xóa</a></td>
                            </tr>
                            i++;
                        }

                    </tbody>
                    <tfoot>
                        <tr></tr>

                    </tfoot>
                </table>
                @if (Model.Count != 0) 
                { 
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }
            </div>
        </div>
    </div>
</div>
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row col-md-11 col-md-offset-1">
                <button class="btn btn-primary" id="selectImage" onclick="managerImages()">Chọn ảnh</button>
            </div>
            <div class="modal-body">
                
                <div id="imageList">

                </div>
                <input type="hidden" id="idProduct"/>
                
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveImages" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


