@model Web_OnlineShop.ModelOnlineShop.Menu

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h2 class="m-0 font-weight-bold text-primary">Tạo người dùng mới</h2>
            <hr />
        </div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Menu</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Text, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Text)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Link, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Link)
                        </div>
                    </div>



                    <div class="form-group row">
                        @Html.LabelFor(model => model.Target, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Target, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Target)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Status)
                        </div>
                        @Html.LabelFor(model => model.DisplayOrder, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control", @type = "number", @min = "0", @step = "1", @value = "0" })
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.TypeID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.TypeID, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TypeID)
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
