@model Web_OnlineShop.ModelOnlineShop.Slide

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h2 class="m-0 font-weight-bold text-primary">Tạo người dùng mới</h2>
            <hr />
        </div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Slide</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Image, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Image)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.DisplayOrder, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Link, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Link)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>

                   <div class="form-group row">
                        @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Status)
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>

