@model Web_OnlineShop.ModelOnlineShop.About

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h2 class="m-0 font-weight-bold text-primary">Tạo liên hệ</h2>
            <hr />
        </div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>About</h4>
                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.MetaTitle, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MetaTitle)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Detail, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Detail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Detail)
                        </div>
                    </div>

                    

                    <div class="form-group row">
                        @Html.LabelFor(model => model.MetaKeywords, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MetaKeywords)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.MetaDescriptions, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.MetaDescriptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MetaDescriptions)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Status)
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <a class="btn btn-primary" href="@Url.Action("Index","About")">Quay về</a>    <input type="submit" value="Lưu" class="btn btn-primary" style="float:right" />
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
           