@model IEnumerable<Web_OnlineShop.ModelOnlineShop.About>

@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Liên hệ</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">

            <div class="text-right" style="margin-bottom:10px"><a class="btn btn-primary" href="@Url.Action("Create","About")">Thêm</a></div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light"><tr>
    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.MetaTitle)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Detail)
    </th>

    <th>
        @Html.DisplayNameFor(model => model.MetaKeywords)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.MetaDescriptions)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Status)
    </th>
    <th></th>
</tr>
                    </thead>
                      

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MetaTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detail)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.MetaKeywords)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MetaDescriptions)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Xoá", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }

</table>
            </div>
</div>
</div>
</div>