@model IEnumerable<Web_OnlineShop.ModelOnlineShop.Footer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="text-right" style="margin-bottom:10px"><a class="btn btn-primary" href="@Url.Action("Create","Footer")">Thêm</a></div>
            <div class="table-responsive">

                @*<p>
                        @Html.ActionLink("Create New", "Create")
                    </p>*@
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Content)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(item.Content)
                                </td>
                                <td>
                                    @Html.EditorFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |

                                    @Html.ActionLink("Xoá", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }

</table>
            </div>
        </div>
    </div>
</div>